<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head.ejs') %>
  <title>URL - TinyApp</title>
</head>

<body>
  <%- include('partials/_header.ejs') %>

  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">TinyURL for: <%= longURL %></h5>
      <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
      <form method="POST" action="/urls/<%=shortURL%>">
        <label>Enter URL: </label>
        <input id="<%=longURL%>" type="text" value="<%= longURL %>" name="longURL" placeholder="<%= longURL %>">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="card-footer text-muted"></div>
  </div>

  <%- include('partials/_scripts.ejs') %>
</body>

</html>